/* Login Container Animations */
.login-fadeout {
  animation: loginFadeOut 0.4s ease-out forwards;
}

@keyframes loginFadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-2.5rem);
  }
}

/* Customize Container Animations */
.customize-show {
  opacity: 0;
  transform: translateY(5rem);
  width: 50rem;
  height: 30rem;
}

.customize-slide {
  transition:
    opacity 0.5s ease-out,
    transform 0.5s ease-out;
  opacity: 1;
  transform: translateY(0);
}

.customize-expand {
  transition: all 0.5s ease-out;
  width: 100%;
  height: 100%;
}
